/*
 *
 */

html, body {height: 100%; min-height: 100%; font-family: 'Droid Sans', sans-serif;}

.whisper {
    color: #0000FF;
}

.username {
    font-weight: bold;
}

.btn > i {
    margin: 0;
}

.visual-clear {
    clear: both;
}

.footer-note {
    padding-top: 0.5em;
    font-size: 75%;
    text-align: right;
}

.footer-note p {
    margin: 0;
    padding: 0;
    line-height: 12px;
}

.footer-note p > a {
    font-weight: bold;
}

#content {
	margin-top: 3em;
}